.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 254px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--cadr-color);
  padding: 20px;

  font-size: var(--font-text-size);
  line-height: var(--line-height-text);
  text-align: center;
  color: var(--black-87);
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.description {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.email_absolute {
  position: absolute;
  top: 70px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.email:hover + .email_absolute {
  display: block;
  opacity: 1;
  padding: 5px;
  background-color: black;
  color: antiquewhite;
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 344px;
  }
}

@media screen and (min-width: 1024px) {
  .conteiner {
    width: 282px;
  }
}

@media screen and (min-width: 1170px) {
  .conteiner {
    width: 370px;
  }
}
